body {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

// navbar
.navbar {
  background-color: #061344;
  .navbar-brand {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

    &:hover {
      color: #ffffff;
    }

    button {
      span {
        background-color: #ffffff;
      }
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #9094A2;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
          color: #a7aab3;
        }
      }
    }
  }
}

// Header
.header {
  .jumbotron {
    background-color: #061344;
    color: #ffffff;
    
    .container {

      .left-content {
        h1 {
          font-family: 'Righteous', cursive;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }
    }
  }

}

// Home
.home {
  .right-content {
    h1 {
      font-family: 'Righteous', cursive;
      color: #0c6b11;
      font-size: 40px;
    }
    p {
      font-size: 18px;
      span {
        font-weight: bold;
      }
    }
  }
}

// TImeline
.timeline-content {
  h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #0c6b11;
    font-size: 40px;
  }
}

// FAQ
.faq {
  h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #0c6b11;
    font-size: 40px;
  }

  .left-content {
    img {
      max-width: 500px;
    }
  }

  .right-content {
    .accordion {
      width: 100%;

      .card-header {
        border: none;
        border-radius: 5px;
        width: 100%;

        h2 {
          button {
            box-shadow: none;
            text-decoration: none;
            color: #494949;
            font-weight: bold;
          }
        }
      }
    } 
  }
}

// Registrasi
.registrasi {
  h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #0c6b11;
    font-size: 40px;
  }
}

// daftar peserta
.daftar-peserta {
  h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #0c6b11;
    font-size: 40px;
  }
}

// Footer
footer {
  margin-top: 100px;
  h1 {
    font-family: 'Righteous', cursive;
    color: #0c6b11;
    font-size: 40px;
    padding-bottom: 10px;
  }

  .contact-email {
    h4 {
      font-size: 18px;
    }
    p {
      color: #2ead34;
    }
  }
  .contact-sosmed {
    h4 {
      font-size: 18px;
    }
  }

  p {
    span {
      font-weight: bold;
    }
  }
}

// Button Registrasi
.btn-daftar {
  text-transform: uppercase;
  font-size: bold;
  background-color: #5ad460;
  color: #fff;

  &:hover {
    background-color: #67dd6d;
    color: #fff;
  }
}

@media (max-width: 576px) {
  .header {
    .jumbotron {
      .container {
        .left-content {
          text-align: center;
          h1 {
            font-size: 26px;
          }
        }
  
        .right-content {
          img {
            display: none;
          }
        }
      }
    }
  }

  .home {
    .left-content {
      img {
        max-width: 290px;
      }
    }

    .right-content {
      h1 {
        font-size: 34px;
      }
    }
  }

  .faq {
    .left-content {
      img {
        max-width: 300px;
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .header {
    .jumbotron {
      .container {
        .left-content {
          text-align: center;
          h1 {
            font-size: 28px;
          }
        }
  
        .right-content {
          img {
            display: none;
          }
        }
      }
    }
  }

  .home {
    .left-content {
      img {
        max-width: 340px;
      }
    }

    .right-content {
      h1 {
        font-size: 34px;
      }
    }
  }

  .faq {
    .left-content {
      img {
        max-width: 350px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .header {
    .jumbotron {
      .container {
        .left-content {
          text-align: center;
          h1 {
            font-size: 30px;
          }
        }
  
        .right-content {
          img {
            display: none;
          }
        }
      }
    }
  }

  .home {
    .left-content {
      img {
        max-width: 350px;
      }
    }

    .right-content {
      h1 {
        font-size: 34px;
      }
    }
  }

  .faq {
    .left-content {
      img {
        max-width: 350px;
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  .header {
    .jumbotron {
      .container {
        .left-content {
          h1 {
            font-size: 32px;
          }
        }
  
        .right-content {
          img {
            max-width: 400px;
          }
        }
      }
    }
  }

  .faq {
    .left-content {
      img {
        max-width: 450px;
      }
    }
  }
}